<main>
  <h1>{{ title }}</h1>

  <div class="nueva-tarea">
    <input
      type="text"
      #inputTarea
      placeholder="Nueva Tarea"
      (keyup.enter)="agregar(inputTarea.value); inputTarea.value = ''"
    />

    <button (click)="agregar(inputTarea.value); inputTarea.value = ''">Agregar</button>
  </div>

  <ul>
    @for (tarea of tareas(); track tarea.id) {
      <li (click)="toggle(tarea.id)" [class.hecha]="tarea.completada">
        {{ tarea.titulo }}
        @if (tarea.completada) {
          <span>Ok</span>
        }
      </li>
    <button (click)="eliminar(tarea.id)">Eliminar</button>
    } @empty {
      <li>No hay tareas. Agrega una!!</li>
    }
  </ul>
</main>

<router-outlet />
